.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer-content .logo {
  max-width: 175px;
  height: auto;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-content li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.footer-content a {
  color: #EDEFEE;
  text-decoration: none;
}

.footer-content a:hover {
    color: #FBDABB;
}

.footer-content h2 {
    color: #FBDABB;
}

.footer-section {
  background-color: #333333;
  color: #EDEFEE;
}