.highlights-content {
    display: flex;
    flex-direction: row;
}

.highlights-content h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 64px;
    font-family: 'Markazi', serif;
    font-weight: 600;
    color: #333333;
}

.highlights-content button {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 auto auto;
}

/* Adjust the DishCard components to display in a grid */
.dish-cards {
    grid-column: 3 / 11;
    /*width: 100%;*/
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 1rem;
    padding-bottom: 10px; /* Добавляем отступ снизу для скроллбара */

    /* Touch support */
    -webkit-overflow-scrolling: touch;
    /*scroll-behavior: smooth;*/

    /* Mouse drag support */
    /*cursor: grab;*/

    /* Fade out effect */
    mask-image: linear-gradient(to right, black 98%, transparent 100%);
}

.dish-cards:active {
    cursor: grabbing;
}

/* Убираем сжатие карточек */
.dish-cards .dish-card {
    flex: 0 0 250px; /* Фиксированная ширина, без сжатия */
    min-width: 250px;
    user-select: none; /* Предотвращаем выделение текста при перетаскивании */
}

/* Опционально: стилизация скроллбара */
.dish-cards::-webkit-scrollbar {
    height: 8px;
}

.dish-cards::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.dish-cards::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

.dish-cards::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

